<div id="contentbox">
<
    <h1> here will cansul </h1>
    <p> are you shure u wanna delete 4evz? </p>
        <form action="/user/delete" >
            <input type="submit" value="Yes, I want to cancel my account"> </a> 
        </form>
</div>