<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Rumblr</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" media="screen" href="/main.css" />
</head>
<body>
    <div class="topnav">
  <a href="#home">RUMBLR</a>
  
  
  <div class="topnav-right">
    <a href="/postPage">+</a>
    <a href="#about">Settings</a><!DOCTYPE html>
    <html>
    <head>
      <meta charset="utf-8" />
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <title>Rumblr</title>
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" type="text/css" media="screen" href="/main.css" />
    </head>
    <body>
        <div class="topnav">
      <a href="#home">RUMBLR</a>
      
      
      <div class="topnav-right">
        <a href="/postPage">+</a>
        <a href="#about">Settings</a>
      </div>
        </div>  
        <br>
    
     
    
    
    
    
      <script src="/main.js"></script>
    
    </body>
    </html>
  </div>
    </div>  
    <br>

 




  <script src="/main.js"></script>

</body>
</html>