<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Rumblr</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" media="screen" href="/main.css" />
</head>
<body>
<h1>RUMBLR</h1>
<div class="container">
        <input type="text" name="username" placeholder="Username" required>
        <input type="password" name="password" placeholder="Password" required>
        <href="/homepage"> <input type="submit" value="Login"> </a>
        <form action="/signUp">
    <input id="signUp" type="submit" value="Sign Up!" />
        </form>
</div>




  <script src="/main.js"></script>

</body>
</html>