<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Rumblr</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" media="screen" href="/main.css" />
  <link href="https://fonts.googleapis.com/css?family=Major+Mono+Display" rel="stylesheet">
</head>
<body>
    <div class="topnav">
      <a href="/homepage">RUMBLR</a>
      <div class="topnav-right">
        <a href="/postPage">+</a>
        <a href="#about">Settings</a>
      </div>
    </div>  
    <br>
<br>
<br>
<br>
<form action="/postPage" method="POST" id="post">
  Title: <input type="text" name="title" class="titleBox">
  <br>
  Post:  <input type="text" name="content" class="postBox">
  <br>
  <input type="submit" id="postClick">
</form>

</form>
<br>


  <script src="/main.js"></script>

</body>
</html>