<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Rumblr</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" media="screen" href="/main.css" />
  <link href="https://fonts.googleapis.com/css?family=Major+Mono+Display" rel="stylesheet">
</head>
<body>
    <div class="topnav">
  <a href="/homepage">RUMBLR</a>
  
  
  <div class="topnav-right">
    <a href="/postPage">+</a>
    
    <div class="dropdown">
      <button class="dropbtn">Settings
       <i class="fa fa-caret-down"></i>
      </button>
    <div class="dropdown-content">
      <a href="/login">Log Out</a>
      <a href="/profileInfo">Profile Info</a>
      <a href="/cancelAcct">Cancel Account</a>
    </div>
  </div> 
  </div>
    </div>  
    <br>

    <div id="contentbox">
        <center>
        <p> first name: <%= User.find(session[:user_id]).f_name %> </p>
        <p> last name: <%= User.find(session[:user_id]).l_name %> </p>
        <p> email: <%= User.find(session[:user_id]).email%> </p>
        <p> password: <%= User.find(session[:user_id]).password %> </p>
        </center>
    </div>
    
 




  <script src="/main.js"></script>

</body>
</html>