<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Rumblr</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" media="screen" href="/main.css" />
</head>
<body>
<h1>RUMBLR</h1>
<h2> Sign up! It is free! </h2>

<div class="container">
    <form action="/signUp" method="POST">
        <input type="text" name="f_name" placeholder="First Name" required>
        <input type="text" name="l_name" placeholder="Last Name" required>
        <input type="text" name="email" placeholder="Email" required>
        <input type="text" name="password" placeholder="Password" required>
        <input id="signUp" type="submit" value="Sign Up!" />
    </form>
</div>




  <script src="/main.js"></script>

</body>
</html>