h1, h2 {
  text-align: center;
  font-family: sans-serif
}
body{
  background-color: #6C7D47;
}

* {box-sizing: border-box}

/* style the container */
.container {
  position: relative;
  margin: auto;
  border-radius: 5px;
  background-color: #f2f2f2;
  padding:30px;
  width: 500px;
  height: 275px;
} 
#signUp{
  background-color: rgb(20, 185, 190);
  color: white;
  cursor: pointer;

}
/* style inputs and link buttons */
input,
.btn {
  width: 100%;
  padding: 12px;
  border: none;
  border-radius: 4px;
  margin: 5px 0;
  opacity: 0.85;
  display: inline-block;
  font-size: 17px;
  line-height: 20px;
  text-decoration: none; /* remove underline from anchors */
}

input:hover,
.btn:hover {
  opacity: 1;
}

/* style the submit button */
input[type=submit] {
  background-color: #4CAF50;
  color: white;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #B5BA72;
}


