h1, h2 {
  text-align: center;
  font-family: 'Major Mono Display', monospace;
  color: bisque;
}
body{
  background:url("plants.jpeg") no-repeat fixed center;
}

* {box-sizing: border-box}

/* style the container */
.container {
  position: relative;
  margin: auto;
  border-radius: 5px;
  background-color: #f2f2f2;
  padding:30px;
  width: 500px;
  height: 275px;
} 
#signUp{
  background-color: rgb(20, 185, 190);
  color: white;
  cursor: pointer;

}
/* style inputs and link buttons */

.postBox{
  width: 60%;
  height: 30vh;
  margin: auto;
  padding: 12px;
  border: none;
  border-radius: 4px;
  margin: 5px 0;
  opacity: 0.85;
  display: inline-block;
  font-size: 17px;
  line-height: 20px;
  text-decoration: none; /* remove underline from anchors */
}

.titleBox{
  width: 60%;
  margin: auto;
  padding: 12px;
  border: none;
  border-radius: 4px;
  margin: 5px 0;
  opacity: 0.85;
  display: inline-block;
  font-size: 17px;
  line-height: 20px;
  text-decoration: none; /* remove underline from anchors */
}

#postClick{
  background-color: #4CAF50;
  width: 90px;
  margin: auto;
  color: white;
  cursor: pointer
}

input,
.btn {
  width: 100%;
  padding: 12px;
  border: none;
  border-radius: 4px;
  margin: 5px 0;
  opacity: 0.85;
  display: inline-block;
  font-size: 17px;
  line-height: 20px;
  text-decoration: none; /* remove underline from anchors */
}

input:hover,
.btn:hover {
  opacity: 1;
}

/* style the submit button */
input[type=submit] {
  background-color: #4CAF50;
  color: white;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #B5BA72;
}

/* Add a black background color to the top navigation */
.topnav {
  overflow: hidden;
  background-color: #B5BA72;
}

/* Style the links inside the navigation bar */
.topnav a {
float: left;
color: olivedrab;
text-align: center;
padding: 14px 16px;
text-decoration: none;
font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
background-color: #ddd;
color: black;
}


/* Right-aligned section inside the top navigation */
.topnav-right {
float: right;
}


#contentbox{
  width: 60%;
  height: 100vh;
  margin-left: auto;
  margin-right: auto;
  background-color: bisque; 
}


/* */

/* The dropdown container */
.dropdown {
  float: left;
  overflow: hidden;
}

/* Dropdown button */
.dropdown .dropbtn {
  font-size: 16px; 
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit; /* Important for vertical align on mobile phones */
  margin: 0; /* Important for vertical align on mobile phones */
}

/* Add a red background color to navbar links on hover */
.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: #B5BA72;
}

/* Dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

/* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover {
  background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}



